<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">

        <a class="navbar-brand" routerLink="/mis-experiencias">ParchIArte</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto">

                <!-- Saludo -->
                <li class="nav-item" *ngIf="estaLogueado()">
                    <a class="nav-link disabled user-greeting">
                        Hola, {{ getNombreUsuario() }} 👋
                    </a>
                </li>


                <!-- LOGIN -->
                <li class="nav-item" *ngIf="!estaLogueado()">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>

                <!-- MIS EXPERIENCIAS (USUARIO NORMAL + ADMIN) -->
                <li class="nav-item" *ngIf="estaLogueado()">
                    <a class="nav-link" routerLink="/mis-experiencias">
                        Mis experiencias
                    </a>
                </li>

                <!-- ADMIN: EXPERIENCIAS (LISTA DE ADMIN) -->
                <li class="nav-item" *ngIf="estaLogueado() && isAdmin()">
                    <a class="nav-link" routerLink="/experiencias">
                        Administrar experiencias
                    </a>
                </li>

                <!-- ADMIN: NUEVA EXPERIENCIA -->
                <li class="nav-item" *ngIf="estaLogueado() && isAdmin()">
                    <a class="nav-link" routerLink="/experiencias/nueva">
                        Crear experiencia
                    </a>
                </li>

                <!-- LOGOUT -->
                <li class="nav-item" *ngIf="estaLogueado()">
                    <a class="nav-link text-danger" (click)="logout()">
                        Cerrar sesión
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>