<nav class="navbar">
    <div class="left">
        <a routerLink="/" class="logo">ParchIArte</a>
    </div>

    <div class="center">
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/eventos" routerLinkActive="active">Eventos</a>
    </div>

    <div class="right">
        <span *ngIf="authService.isLoggedIn()">
            Hola, {{ usuarioNombre }}
        </span>

        <button *ngIf="authService.isLoggedIn()" (click)="onLogout()">
            Logout
        </button>
    </div>
</nav>
<hr />