<nav class="navbar">
    <div class="center">

        <!-- Saludo -->
        <span *ngIf="estaLogueado()" class="usuario">
            Hola, {{ getNombreUsuario() }} 👋
        </span>

        <!-- Mostrar login si NO está logueado -->
        <a *ngIf="!estaLogueado()" routerLink="/login" routerLinkActive="active">
            Login
        </a>

        <!-- Mostrar eventos si está logueado -->
        <a *ngIf="estaLogueado()" routerLink="/eventos" routerLinkActive="active">
            Eventos
        </a>

        <!-- Logout -->
        <a *ngIf="estaLogueado()" (click)="logout()">
            Cerrar sesión
        </a>

    </div>
</nav>